<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ClienteCreateAndFind</display-name>
    <servlet-name>ClienteCreateAndFind</servlet-name>
    <servlet-class>controllers.ClienteCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteCreateAndFind</servlet-name>
    <url-pattern>/CreateAndFind</url-pattern>
  </servlet-mapping>
  <display-name>StilusViagens</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClienteDelete</display-name>
    <servlet-name>ClienteDelete</servlet-name>
    <servlet-class>controllers.ClienteDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteDelete</servlet-name>
    <url-pattern>/ClienteDestroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSelectFindAndUpdate</display-name>
    <servlet-name>ClientSelectFindAndUpdate</servlet-name>
    <servlet-class>controllers.ClientSelectFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSelectFindAndUpdate</servlet-name>
    <url-pattern>/ClientUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteFindAndUpdate</display-name>
    <servlet-name>ClienteFindAndUpdate</servlet-name>
    <servlet-class>controllers.ClienteFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteFindAndUpdate</servlet-name>
    <url-pattern>/ClienteUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuncionarioCreateAndFind</display-name>
    <servlet-name>FuncionarioCreateAndFind</servlet-name>
    <servlet-class>controllers.FuncionarioCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioCreateAndFind</servlet-name>
    <url-pattern>/CreateAndFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuncCreateAndFind</display-name>
    <servlet-name>FuncCreateAndFind</servlet-name>
    <servlet-class>controllers.FuncCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncCreateAndFind</servlet-name>
    <url-pattern>/FuncCAF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuncionarioDelete</display-name>
    <servlet-name>FuncionarioDelete</servlet-name>
    <servlet-class>controllers.FuncionarioDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioDelete</servlet-name>
    <url-pattern>/FuncionarioDestroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuncionarioFindAndUpdate</display-name>
    <servlet-name>FuncionarioFindAndUpdate</servlet-name>
    <servlet-class>controllers.FuncionarioFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioFindAndUpdate</servlet-name>
    <url-pattern>/FuncionarioUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinoFindAndUpdate</display-name>
    <servlet-name>DestinoFindAndUpdate</servlet-name>
    <servlet-class>controllers.DestinoFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinoFindAndUpdate</servlet-name>
    <url-pattern>/DestinoUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinoCreateAndFind</display-name>
    <servlet-name>DestinoCreateAndFind</servlet-name>
    <servlet-class>controllers.DestinoCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinoCreateAndFind</servlet-name>
    <url-pattern>/DestinoCreateAndFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinoDelete</display-name>
    <servlet-name>DestinoDelete</servlet-name>
    <servlet-class>controllers.DestinoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinoDelete</servlet-name>
    <url-pattern>/DestinoDestroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaCreate</display-name>
    <servlet-name>ReservaCreate</servlet-name>
    <servlet-class>controllers.ReservaCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaCreate</servlet-name>
    <url-pattern>/ReservaCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaCreateAndFind</display-name>
    <servlet-name>ReservaCreateAndFind</servlet-name>
    <servlet-class>controllers.ReservaCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaCreateAndFind</servlet-name>
    <url-pattern>/ReservaCAF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaDelete</display-name>
    <servlet-name>ReservaDelete</servlet-name>
    <servlet-class>controllers.ReservaDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaDelete</servlet-name>
    <url-pattern>/ReservaDestroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaFindAndUpdate</display-name>
    <servlet-name>ReservaFindAndUpdate</servlet-name>
    <servlet-class>controllers.ReservaFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaFindAndUpdate</servlet-name>
    <url-pattern>/ReservaUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComentarioFindAndUpdate</display-name>
    <servlet-name>ComentarioFindAndUpdate</servlet-name>
    <servlet-class>controllers.ComentarioFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentarioFindAndUpdate</servlet-name>
    <url-pattern>/ComentarioUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComentarioCreateAndFind</display-name>
    <servlet-name>ComentarioCreateAndFind</servlet-name>
    <servlet-class>controllers.ComentarioCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentarioCreateAndFind</servlet-name>
    <url-pattern>/ComentarioCAF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComentarioDelete</display-name>
    <servlet-name>ComentarioDelete</servlet-name>
    <servlet-class>controllers.ComentarioDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentarioDelete</servlet-name>
    <url-pattern>/ComentarioDestroy</url-pattern>
  </servlet-mapping>
</web-app>